<nav>
 <ul>
   <li><a [routerLink]="['/sign-up']"><button>Sign-up</button></a></li>
   <li><a [routerLink]="['/list-test']"><button>List-test</button></a></li>
 </ul>
</nav>
<section>
<p><img [src]="User.photo" [alt]="User.name" /></p>

<p>Nom:{{User.name}}</p>

<p>Prénom: {{User.firstName}}</p>

<p>{{User.quote}}</p>
<div><input [(ngModel)]="User.quote"></div>

<p>Age:<span id="age">{{User.age}}</span></p>

<div><button id="button" (click)="hidden()">Afficher/Masquer mon âge</button></div>
</section>

